

.flex-container-father{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 600px auto;
  align-items:center;
  border-radius: 10px 0px 0px 10px;

}

.flex-container{
  font-size: 25px;
  justify-content: center;
  padding: 10px;

}

.flex-container-father img {
  transition: transform 300ms ease-in-out;
  padding: 100px;
}

.flex-container-father img:hover {
  transform: scale(1.05);
  background: rgb(55, 4, 104);

}


.flex-text{
  display: block;
  font-size: 20px;
  text-align:justify;
  font-weight: 700;
  padding: 100px;
  background: rgb(237, 245, 245);
  color: rgb(0, 2, 7);
  border-radius: 10px 0px 0px 10px;
}

.grid-container-father{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  background: rgb(237, 245, 245);
  border-radius: 10px;
  grid-auto-rows: 200px;
  margin: 100px 80px;
  border-radius: 0px 0px 0px 0px;
  height: 190px;
}

.grid-container-father img {
  margin: 30px 60px 0 30px;
  padding: 50px;
  background: rgb(55, 4, 104);
  border-radius: 10px;
  transition: transform 100ms ease-in-out;

}

.grid-container-father img:hover {
  transform: scale(1.05);
}


.flex-div {
  color: rgb(178, 189, 24);
  background-color: rgb(178, 189, 24);
  height: 500px;
  margin-bottom: 25px;
  border-radius: 0;
}
